---
- name: Installing andrewrothstein.gpg
  ansible.builtin.include_role:
    name: andrewrothstein.gpg
- name: Look for epel.repo
  become: true
  become_user: root
  ansible.builtin.stat:
    path: '{{ epel_repofile }}'
  changed_when: false
  register: epel_repofile_stat
- name: Trust and add EPEL pkg
  when: not epel_repofile_stat.stat.exists
  block:
    - name: Trust EPEL GPG key...
      become: true
      become_user: root
      ansible.builtin.rpm_key:
        key: '{{ epel_gpg_key }}'
        state: present
    - name: Install EPEL...
      become: true
      become_user: root
      ansible.builtin.dnf:
        name: '{{ epel_url }}'
        state: present
